/* @override 
	https://www.actorslaunchpad.com/moodcaster/media/css/download-right-default.css
	http://localhost/test3/media/css/download-right-default2.css
	http://localhost/test3/media/css/download-right-default.css
*/

#right  {
	position: relative;
	top: 6vw;

}

#right #rightContainer{
	padding-right: 69px;
	position: relative;
	top: -48px;
}

#right #rightContainer #logoBox img{
	width: 50px;
	vertical-align: middle;
}
#right #rightContainer #logoBox #logotext{
	font: 28px "cinetype";
	margin-left: 10px;
}

#right #rightContainer  #titleRightBox{
	color: #000;
	font: bold 1.1em/1.5 "Cinetype";
}
#right #rightContainer  #titleRightBox h1{
	margin-top: -9px;
}

#copyRightBox P{
	font: 16px/35px "Cinetype";
	max-width: 550px;
	margin-top: 0;
	margin-bottom: 20;
}

#ctaRightBox a{
	background-color: #FF5C5C;
	font: 14px "cinetype", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	color: white;
	width: 145px;
	display: block;
	text-align: center;
	height: 20px;
	border-radius:2px;
	border-style: solid;
	border-width: 1px;
	padding-top: 12px;
	padding-bottom: 8px;
	border: 0px;
		
}

#titleRightBox h2{
	margin-top: 0;
	margin-bottom: 0;
}


/* OVERRIDES */

#right #rightContainer #logoBox #logotext,
#copyRightBox p,
#Sharediv a,
#Sharedivhidden  .copied,
#Sharedivhidden input,
{
	color:  black;
}


h1.redscore {
	font-size: 18px;
	display: inline-block;
    text-decoration: none;
    position: relative;
    border-bottom: 3px solid;
    padding-bottom: 0;
    border-color: #FF5C5C;
    left: 4px;
}


