RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d


#RewriteRule index.php /moodcaster/download.php [QSA]
# works for http://d.moodcaster.com/?s=387&c=1535508260


RewriteRule ^(.*)$ /download.php?s=($1) 